<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>etpaste</title>
    <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
	<div class="container">
	  <ul class="nav">
	    <li class="active">
	      <a href="{{ url_for('home') }}">Home</a>
	    </li>
	    <li><a href="{{ url_for('new_paste') }}">New Paste</a></li>
	    <li><a href="{{ url_for('about') }}">About</a></li>
	  </ul>
	</div>
      </div>
    </div>
    <div class="container">
      {% block body %}{% endblock %}
    </div>

    <script type="text/javascript" src="/static/jquery/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
  </body>

</html>
